apiVersion: v1
kind: ConfigMap
metadata:
  name: artifact-gateway-configmap
  namespace: argo-events
data:
  s3.fooConfig: |-
    s3EventConfig:
      bucket: mybucket
      endpoint: minio-service.argo-events:9000
      event: s3:ObjectCreated:Put
      filter:
        prefix: ""
        suffix: ""
    insecure: true
    accessKey:
      key: accesskey
      name: artifacts-minio
    secretKey:
      key: secretkey
      name: artifacts-minio
