#
# Update the versions in this file.
#

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- crds
- argo-events-sa.yaml
- eventsource-controller
- sensor-controller
- eventbus-controller

images:
- name: quay.io/argoproj/argo-events
  newName: quay.io/codefresh/argo-events
  newTag: v0.0.2-cf

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: eventsource-controller
  spec:
    template:
      spec:
        containers:
          - name: eventsource-controller
            env:
              - name: EVENTSOURCE_IMAGE
                value: quay.io/codefresh/argo-events:v0.0.2-cf
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: sensor-controller
  spec:
    template:
      spec:
        containers:
          - name: sensor-controller
            env:
              - name: SENSOR_IMAGE
                value: quay.io/codefresh/argo-events:v0.0.2-cf
