apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: trigger-source-configmap-sensor
  labels:
    sensors.argoproj.io/sensor-controller-instanceid: argo-events
spec:
  template:
    spec:
      containers:
        - name: sensor
          image: argoproj/sensor:v0.14.0
          imagePullPolicy: Always
      serviceAccountName: argo-events-sa
  subscription:
    http:
      port: 9300
  dependencies:
    - name: test-dep
      gatewayName: webhook-gateway
      eventName: example
  triggers:
    - template:
        name: minio-workflow-trigger
        k8s:
          group: argoproj.io
          version: v1alpha1
          resource: workflows
          operation: create
          source:
            configmap:
              name: workflow-cm
              namespace: argo-events
              # key within configmap whose corresponding value contains the workflow definition
              key: wf
