apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: trigger-source-configmap-sensor
  labels:
    sensors.argoproj.io/sensor-controller-instanceid: argo-events
spec:
  version: "v0.11"
  template:
    spec:
      containers:
        - name: "sensor"
          image: "argoproj/sensor"
          imagePullPolicy: Always
      serviceAccountName: argo-events-sa
  eventProtocol:
    type: "HTTP"
    http:
      port: "9300"
  dependencies:
    - name: "minio-gateway:example-1"
  triggers:
    - template:
        name: minio-workflow-trigger
        group: argoproj.io
        version: v1alpha1
        kind: Workflow
        source:
          configmap:
            # name of the configmap
            name: workflow-cm
            # namespace of configmap
            namespace: argo-events
            # key within configmap containing workflow
            key: wf
