.vscode/
.idea/
.DS_Store
.env
vendor/
dist/
venv/
# delve debug binaries
cmd/**/debug
hack/**/debug
debug.test
*.iml
.coverage
*.out
site/
/go-diagrams/
argo-events
# telepresence
.env
telepresence.log
# codefresh
update_argo_events_manifests.sh