apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventbus-controller
  namespace: argo-events
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eventbus-controller
  template:
    metadata:
      labels:
        app: eventbus-controller
    spec:
      serviceAccountName: argo-events-sa
      containers:
        - name: eventbus-controller
          image: argoproj/eventbus-controller:latest
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NATS_IMAGE
              value: nats:2.1.7
            - name: NATS_STREAMING_IMAGE
              value: nats-streaming:0.17.0
