# All argo-events services are bound to the "argo-events" service account. 
# In RBAC enabled setups, this SA is bound to specific roles.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-events-sa
