# The gateway-controller listens for changes on the gateway CRD and creates gateway
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-controller
  template:
    metadata:
      labels:
        app: gateway-controller
    spec:
      serviceAccountName: argo-events-sa
      containers:
        - name: gateway-controller
          image: argoproj/gateway-controller:v0.13.0-rc
          imagePullPolicy: Always
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CONTROLLER_CONFIG_MAP
              value: gateway-controller-configmap
