# The sensor sensor-controller configmap includes configuration information for the sensor sensor-controller
apiVersion: v1
kind: ConfigMap
metadata:
  name: sensor-controller-configmap
  namespace: argo-events
data:
  config: |
    instanceID: argo-events
