apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: webhook-sensor-http
  labels:
    sensors.argoproj.io/sensor-controller-instanceid: argo-events
spec:
  template:
    spec:
      containers:
        - name: sensor
          image: argoproj/sensor:v0.13.0-rc
          imagePullPolicy: Always
      serviceAccountName: argo-events-sa
  dependencies:
    - name: test-dep
      gatewayName: webhook-gateway
      eventName: example
  subscription:
    http:
      port: 9300
  triggers:
    - template:
        name: webhook-deployment-trigger
        k8s:
          group: apps
          version: v1
          resource: deployments
          operation: create
          source:
            resource:
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                generateName: hello-world-
              spec:
                serviceAccountName: argo-events-sa
                replicas: 1
                selector:
                  matchLabels:
                    app: mydeploy
                template:
                  metadata:
                    labels:
                      app: mydeploy
                  spec:
                    serviceAccountName: argo-events-sa
                    containers:
                      - name: hello-container
                        args:
                          - "hello world"
                        command:
                          - cowsay
                        image: "docker/whalesay:latest"
          parameters:
            - src:
                dependencyName: test-dep
              dest: spec.template.spec.containers.0.args.0
