
name: Docker Image CI

on:
  push:
    tags:
      - v*
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  build-linux:
    name: Build & Push Linux Docker Images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        uses: Azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKERIO_USERNAME }}
          password: ${{ secrets.DOCKERIO_PASSWORD }}
      - name: Build & Push Linux Docker Images
        env:
          DOCKERIO_ORG: ${{ secrets.DOCKERIO_ORG }}
        run: |
          /usr/bin/docker pull -q multiarch/qemu-user-static:latest
          /usr/bin/docker run --rm --privileged multiarch/qemu-user-static:latest --reset -p yes --credential yes
          /usr/bin/docker buildx create --name builder --driver docker-container --use
          /usr/bin/docker buildx inspect --bootstrap

          tag=$(basename $GITHUB_REF)
          if [ $tag = "master" ]; then
            tag="latest"
          fi
          targets="eventbus-controller eventsource-controller sensor-controller eventsource sensor"
          for target in $targets; do
            docker buildx build \
              --output "type=image,push=true" \
              --platform="linux/amd64,linux/arm64" \
              --target $target \
              --tag "${DOCKERIO_ORG}/${target}:${tag}" .
          done