name: golangci-lint
on:
  push:
    branches:
      - "master"
      - "release-*"

  pull_request:
    branches:
      - "master"
      - "release-*"

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Add to PATH
        run: |
          echo /home/runner/go/bin >> $GITHUB_PATH
      - name: golangci-lint
        run: |
          echo 'GOPATH=/home/runner/go' >> $GITHUB_ENV
          make lint
