name: golangci-lint
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Golang
        uses: actions/setup-go@v2.2.0
        with:
          go-version: "1.17.1"
      - name: Add to PATH
        run: |
          echo /home/runner/go/bin >> $GITHUB_PATH
      - name: golangci-lint
        run: |
          echo 'GOPATH=/home/runner/go' >> $GITHUB_ENV
          make lint
